:root {
  --height-base: var(--s-7p5);
  --layer-bg-color: var(--custom-color-bg-7);
  --layer-radius: var(--radius-0);
  --layer-line-color: var(--custom-color-line-5);
  --btn-padding-hor: var(--s-4);
  --btn-icon-text-gap: var(--s-2);
  --btn-text-color: var(--color-primary);
  --btn-border-color: var(--color-primary);
  --btn-bg-hover: var(--custom-color-bg-btn-hover);
  --btn-text-color-hover: var(--color-white);
  --btn-border-color-hover: var(--color-primary-5);
  --btn-bg-active: var(--custom-color-bg-btn-active);
  --btn-text-color-active: var(--color-white);
  --btn-border-color-active: var(--color-primary-6);
  --btn-line-text-color: var(--color-primary);
  --btn-line-border-color: var(--color-line-3);
  --btn-line-text-color-hover: var(--color-primary-5);
  --btn-line-border-color-hover: var(--color-primary-5);
  --btn-bg-disabled: var(--color-bg-4);
  --btn-line-color-disabled: var(--color-bg-4);
  --menu-item-text-icon-gap: var(--s-2);
  --menu-item-text-color: var(--color-text-2);
  --menu-sub-item-text-color: var(--color-text-2);
  --menu-item-bg-hover: var(--color-bg-5);
  --menu-item-text-color-hover: var(--color-text-1);
  --menu-sub-item-bg-hover: var(--color-bg-5);
  --menu-sub-item-text-color-hover: var(--color-text-1);
  --menu-item-bg-selected: var(--color-bg-5);
  --menu-item-text-color-selected: var(--color-primary);
  --menu-item-icon-color-selected: var(--color-primary);
  --menu-item-title-text-color-selected: var(--color-text-1);
  --menu-sub-item-bg-selected: var(--color-bg-5);
  --menu-sub-item-text-color-selected: var(--color-primary);
  --menu-item-title-text-color-open: var(--color-text-1);
  --menu-item-icon-color-hor-selected: var(--color-primary);
  --page-header-item-gap-line-color: var(--color-text-2);
  --breadcrumb-separator-color: var(--color-text-2);
  --left-bar-bg: var(--custom-color-bg-7);
  --left-bar-text-color: var(--color-text-1);
  --left-bar-menu-collapsed-click-height: var(--s-7);
  --left-bar-menu-collapsed-click-bg: var(--custom-color-bg-8);
  --left-bar-collapsed-click-text-color: var(--color-text-2);
  --input-padding-hor: var(--s-2);
  --input-group-affix-padding-hor: var(--s-3);
  --input-bg: var(--custom-color-bg-6);
  --input-group-affix-text-color: var(--color-text-2);
  --input-bg-hover: var(--custom-color-bg-6);
  --input-border-color-hover: var(--color-primary-5);
  --input-bg-focus: var(--custom-color-bg-6);
  --input-bg-disabled: var(--color-bg-2);
  --input-number-btn-bg: var(--color-bg-3);
  --rc-gap: var(--s-4);
  --rc-size: var(--s-3);
  --radio-bg: var(--custom-color-bg-6);
  --radio-border-color-hover: var(--custom-color-bg-btn-hover);
  --radio-bg-checked: var(--custom-color-bg-radio-checked-bg);
  --radio-icon-checked: var(--custom-color-bg-radio-checked-circle);
  --radio-border-color-checked: var(--custom-color-bg-btn-hover);
  --radio-icon-disabled: var(--color-text-3);
  --radio-border-color-disabled: var(--color-line-1);
  --radio-label-color-disabled: var(--color-text-1);
  --checkbox-icon-disabled: var(--color-text-3);
  --checkbox-border-color-disabled: var(--color-line-1);
  --checkbox-label-color-disabled: var(--color-text-1);
  --rc-button-bg-checked: var(--custom-color-bg-radio-checked-bg);
  --rc-button-text-color-checked: var(--color-primary);
  --rc-button-text-color-disabled: var(--color-text-3);
  --rc-bordered-border-color-disabled: var(--color-line-3);
  --select-item-padding-hor: var(--s-2);
  --select-item-text-color: var(--color-text-1);
  --select-item-text-color-hover: var(--color-text-1);
  --cascader-item-label-padding-hor: var(--s-2);
  --select-tag-item-bg: var(--custom-color-bg-8);
  --select-tag-item-border-color: var(--custom-color-bg-8);
  --select-group-title-size: var(--font-size);
  --select-group-title-color: var(--color-text-2);
  --upload-list-item-bg-hover: var(--color-bg-5);
  --date-panel-single-width: var(--s-62);
  --date-picker-header-height: var(--s-7);
  --date-item-td-height: var(--s-6);
  --date-item-size: var(--s-5);
  --picker-item-radius: var(--custom-radius-date-radius);
  --picker-item-text-color: var(--color-text-1);
  --picker-item-bg-range: var(--custom-color-bg-date-range-select);
  --picker-item-text-color-preNext: var(--color-text-3);
  --picker-item-text-color-disabled: var(--color-text-3);
  --slider-runway-bg: var(--custom-color-bg-8);
  --slider-stop-bg: var(--color-bg-4);
  --slider-bar-bg-disabled: var(--color-primary-3);
  --slider-button-bg: var(--color-primary);
  --slider-button-border-color: var(--color-white);
  --slider-button-bg-disabled: var(--color-primary-3);
  --slider-button-border-color-disabled: var(--custom-color-bg-date-range-select);
  --slider-tooltip-padding: var(--s-1);
  --slider-tooltip-color-bg: var(--color-primary);
  --slider-tooltip-border-color: var(--color-primary);
  --transfer-panel-bg: var(--custom-color-bg-7);
  --transfer-header-bottom-color: var(--custom-color-line-5);
  --transfer-panel-item-height: var(--s-6p5);
  --transfer-panel-item-font-size: var(--font-size-s);
  --switch-height: var(--s-5);
  --form-block-item-gap: var(--s-4);
  --form-label-padding-right: var(--s-2);
  --table-thead-font-size: var(--font-size-s);
  --table-thead-bg: var(--color-bg-3);
  --table-thead-text-color: var(--color-text-1);
  --table-thead-border-color: var(--custom-color-line-5);
  --table-font-size: var(--font-size-s);
  --table-cell-line-height: var(--s-6p5);
  --table-tbody-text-color: var(--color-text-1);
  --table-cell-padding-hor: var(--s-4);
  --table-td-padding-ver: var(--s-2);
  --table-fixed-shadow: var(--custom-shadow-table-fixed);
  --table-row-bg-selected: var(--custom-color-bg-9);
  --table-td-border-hor-color: var(--custom-color-line-5);
  --table-border-color: var(--color-line-4);
  --table-striped-row-even-bg: var(--color-bg-3);
  --table-striped-row-odd-bg: var(--color-bg-2);
  --page-item-height: var(--s-7p5);
  --page-number-sm-border-color-selected: var(--color-primary);
  --page-number-text-color-disabled: var(--color-text-3);
  --page-btn-text-color-disabled: var(--color-text-3);
  --form-inline-label-padding-right: var(--s-2);
  --tag-item-height: var(--s-7p5);
  --tag-item-bg: var(--color-transparent);
  --tag-item-border-color: var(--color-primary);
  --tag-item-bg-success: var(--color-transparent);
  --tag-item-border-color-success: var(--color-success);
  --tag-item-bg-info: var(--color-transparent);
  --tag-item-border-color-info: var(--color-text-2);
  --tag-item-bg-warning: var(--color-transparent);
  --tag-item-border-color-warning: var(--color-warning);
  --tag-item-bg-danger: var(--color-transparent);
  --tag-item-border-color-danger: var(--color-error);
  --tree-node-height: var(--s-8);
  --tree-node-icon-text-gap: var(--s-1);
  --tree-node-bg-hover: var(--color-bg-3);
  --tree-node-bg-highlight-current: var(--custom-color-bg-9);
  --progress-bar-outer-bg: var(--custom-color-bg-8);
  --message-text-color: var(--color-text-1);
  --message-close-btn-color: var(--color-text-2);
  --message-close-btn-color-hover: var(--color-text-1);
  --message-bg-success: var(--color-success-bg);
  --message-border-color-success: var(--color-success);
  --message-bg-warning: var(--color-warning-bg);
  --message-border-color-warning: var(--color-warning);
  --message-bg-info: var(--color-info-bg);
  --message-border-color-info: var(--color-info);
  --message-bg-error: var(--color-error-bg);
  --message-border-color-error: var(--color-error);
  --popover-title-margin-bottom: var(--s-3);
  --modal-line-color: var(--color-bg-2);
  --modal-header-height: var(--s-9);
  --modal-header-bg: var(--custom-color-bg-8);
  --modal-header-line-color: var(--color-transparent);
  --modal-title-font-size: var(--font-size);
  --modal-header-close-icon-color: var(--color-text-2);
  --modal-footer-padding-ver: var(--s-4);
  --alert-close-btn-color: var(--color-text-2);
  --alert-close-btn-color-hover: var(--color-text-1);
  --tooltip-box-shadow: var(--shadow-sharp);
  --tooltip-bg-dark: var(--custom-color-bg-tooltip-color-bg);
  --tooltip-border-color-dark: var(--color-transparent);
  --tooltip-bg-light: var(--color-primary);
  --tooltip-text-color-light: var(--color-white);
  --tooltip-border-color-light: var(--color-primary);
  --tab-nav-item-height: var(--s-11);
  --tab-nav-item-padding-hor: var(--s-4);
  --tab-nav-item-text-color: var(--color-text-2);
  --tab-card-nav-item-height: var(--s-9);
  --tab-card-nav-item-padding-hor: var(--s-4);
  --tab-border-card-nav-item-height: var(--s-9);
  --tab-border-card-nav-item-padding-hor: var(--s-4);
  --tab-nav-ver-item-height: var(--s-8p5);
  --divider-line-color: var(--custom-color-line-5);
}
