:root {
  --color-primary: #0da6f2;
  --color-primary-1: #172c4d;
  --color-primary-2: #143a61;
  --color-primary-3: #174a73;
  --color-primary-4: #155d8e;
  --color-primary-5: #1278b3;
  --color-primary-6: #33b3ec;
  --color-primary-7: #5bcbf5;
  --color-primary-8: #84ddf9;
  --color-primary-9: #adebfb;
  --color-text-1: #cad8f9;
  --color-text-2: #9dacd1;
  --color-text-3: #5f7099;
  --color-text-4: #3d4769;
  --color-text-reverse: #ffffff;
  --color-bg-1: #1b223d;
  --color-bg-2: #252f4d;
  --color-bg-3: #313b5b;
  --color-bg-4: #3d4769;
  --color-bg-5: #3b466b;
  --color-bg-reverse: #ffffff;
  --color-bg-scrollbar-thrumb: rgba(95, 112, 153, 0.5);
  --color-bg-scrollbar-thrumb-hover: #5f7099;
  --color-line-1: #3d4769;
  --color-line-2: #313b5b;
  --color-line-3: #5f7099;
  --color-line-4: #343e61;
  --color-success: #0cc280;
  --color-success-line: rgba(12, 194, 128, 0.5);
  --color-success-bg: #172e40;
  --color-info: #0da6f2;
  --color-info-line: rgba(13, 166, 242, 0.5);
  --color-info-bg: #172c4d;
  --color-warning: #eb8305;
  --color-warning-line: rgba(235, 131, 5, 0.5);
  --color-warning-bg: #2f2834;
  --color-error: #fc424b;
  --color-error-line: rgba(252, 66, 75, 0.5);
  --color-error-bg: #31213b;
  --color-link: #0da6f2;
  --color-link-hover: #52cbff;
  --color-link-active: #33b3ec;
  --color-mask-bg-1: rgba(0, 0, 0, 0.6);
  --color-mask-bg-2: rgba(37, 47, 77, 0.5);
  --color-mask-bg-3: rgba(255, 255, 255, 0.2);
  --custom-color-text-5: #ffffff;
  --custom-color-bg-6: #212845;
  --custom-color-bg-7: #2e3857;
  --custom-color-bg-8: #343e61;
  --custom-color-bg-9: #4c6290;
  --custom-color-bg-btn-hover: rgba(18, 120, 179, 0.5);
  --custom-color-bg-btn-active: rgba(51, 179, 236, 0.5);
  --custom-color-bg-radio-checked-circle: #51c7f9;
  --custom-color-bg-radio-checked-bg: rgba(13, 166, 242, 0.2);
  --custom-color-bg-nav-bg-left: #35416a;
  --custom-color-bg-nav-bg-right: #6576a3;
  --custom-color-bg-date-range-select: rgba(13, 166, 242, 0.2);
  --custom-color-bg-tooltip-color-bg: rgba(0, 0, 0, 0.8);
  --custom-color-line-5: #1b223d;
  --shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --shadow-sharp: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  --shadow-weak: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --custom-shadow-table-fixed: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
  --custom-shadow-card-hover: 0px 2px 8px 2px rgba(0, 0, 0, 0.6);
  --radius: 2px;
  --radius-lg: 4px;
  --custom-radius-date-radius: 18px;
  --page-header-title-font-weight: 500;
  --breadcrumb-item-font-weight-current: 500;
  --top-header-bg: linear-gradient(90deg, #35416a 0%, #6676a3 100%);
  --transfer-header-title-weight: 500;
  --modal-title-font-weight: 500;
}

[theme='light'] {
  --color-primary: #119af5;
  --color-primary-1: #e6f9ff;
  --color-primary-2: #ccf1ff;
  --color-primary-3: #8cddff;
  --color-primary-4: #63cbff;
  --color-primary-5: #3bb7ff;
  --color-primary-6: #0477cf;
  --color-primary-7: #005aa8;
  --color-primary-8: #004182;
  --color-primary-9: #002b5c;
  --color-text-1: #19242c;
  --color-text-2: #4a5155;
  --color-text-3: #abb2b6;
  --color-text-4: #dbe2e7;
  --color-text-reverse: #ffffff;
  --custom-color-text-5: #333333;
  --color-bg-1: #edeff2;
  --color-bg-2: #ffffff;
  --color-bg-3: #f5f7fa;
  --color-bg-4: #dbe2e7;
  --color-bg-5: #f3f7fa;
  --color-bg-reverse: #ffffff;
  --color-bg-scrollbar-thrumb: rgba(171, 178, 182, 0.5);
  --color-bg-scrollbar-thrumb-hover: #abb2b6;
  --custom-color-bg-6: #ffffff;
  --custom-color-bg-7: #ffffff;
  --custom-color-bg-8: #edf1f7;
  --custom-color-bg-9: #dcecfa;
  --custom-color-bg-btn-hover: rgba(59, 183, 255, 0.5);
  --custom-color-bg-btn-active: rgba(4, 119, 207, 0.5);
  --custom-color-bg-radio-checked-circle: #51c7f9;
  --custom-color-bg-radio-checked-bg: rgba(17, 154, 245, 0.1);
  --custom-color-bg-nav-bg-left: #35416a;
  --custom-color-bg-nav-bg-right: #6576a3;
  --custom-color-bg-date-range-select: rgba(17, 154, 245, 0.2);
  --custom-color-bg-tooltip-color-bg: rgba(0, 0, 0, 0.8);
  --color-line-1: #dbe2e7;
  --color-line-2: #f5f7fa;
  --color-line-3: #abb2b6;
  --color-line-4: #edf1f7;
  --custom-color-line-5: #edeff2;
  --color-success: #08c481;
  --color-success-line: rgba(8, 196, 129, 0.5);
  --color-success-bg: #e6fff2;
  --color-info: #119af5;
  --color-info-line: rgba(17, 154, 245, 0.5);
  --color-info-bg: #e6f9ff;
  --color-warning: #ee8300;
  --color-warning-line: rgba(238, 131, 0, 0.5);
  --color-warning-bg: #fff8e6;
  --color-error: #fe3c46;
  --color-error-line: rgba(254, 60, 70, 0.5);
  --color-error-bg: #fff1f0;
  --color-link: #119af5;
  --color-link-hover: #3bb7ff;
  --color-link-active: #0477cf;
  --color-mask-bg-1: rgba(0, 0, 0, 0.5);
  --color-mask-bg-2: rgba(51, 51, 51, 0.1);
  --color-mask-bg-3: rgba(255, 255, 255, 0.2);
  --shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  --shadow-sharp: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --shadow-weak: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --custom-shadow-table-fixed: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
  --custom-shadow-card-hover: 0px 2px 8px 2px rgba(0, 0, 0, 0.3);
  --radius: 2px;
  --radius-lg: 4px;
  --custom-radius-date-radius: 18px;
  --page-header-title-font-weight: 500;
  --breadcrumb-item-font-weight-current: 500;
  --top-header-bg: linear-gradient(90deg, #35416a 0%, #6576a3 100%);
  --transfer-header-title-weight: 500;
  --modal-title-font-weight: 500;
}
