:root {
  --dark-blue-1: #172c4d;
  --dark-blue-2: #143a61;
  --dark-blue-3: #174a73;
  --dark-blue-4: #155d8e;
  --dark-blue-5: #1278b3;
  --dark-blue-6: #0da6f2;
  --dark-blue-7: #33b3ec;
  --dark-blue-8: #5bcbf5;
  --dark-blue-9: #84ddf9;
  --dark-blue-10: #adebfb;
  --dark-cyan-1: #172b45;
  --dark-cyan-2: #153c53;
  --dark-cyan-3: #174d63;
  --dark-cyan-4: #156377;
  --dark-cyan-5: #128090;
  --dark-cyan-6: #0db2bd;
  --dark-cyan-7: #2cb4bb;
  --dark-cyan-8: #51cdce;
  --dark-cyan-9: #7adddb;
  --dark-cyan-10: #a7ece8;
  --dark-grass-green-1: #232e34;
  --dark-grass-green-2: #2f3f2e;
  --dark-grass-green-3: #3d512c;
  --dark-grass-green-4: #4e6823;
  --dark-grass-green-5: #658717;
  --dark-grass-green-6: #8dbd03;
  --dark-grass-green-7: #98b827;
  --dark-grass-green-8: #b4cd48;
  --dark-grass-green-9: #cddd6f;
  --dark-green-1: #172e40;
  --dark-green-2: #154148;
  --dark-green-3: #175251;
  --dark-green-4: #146a5b;
  --dark-green-5: #118a69;
  --dark-green-6: #0cc280;
  --dark-green-7: #2bbe86;
  --dark-green-8: #50d29b;
  --dark-green-9: #7ae2b2;
  --dark-green-10: #a8f1cd;
  --dark-grey-1: #1b223d;
  --dark-grey-2: #212845;
  --dark-grey-3: #252f4d;
  --dark-grey-4: #2e3857;
  --dark-grey-5: #313b5b;
  --dark-grey-6: #343e61;
  --dark-grey-7: #3d4769;
  --dark-grey-8: #3b466b;
  --dark-grey-9: #4c6290;
  --dark-grey-10: #5f7099;
  --dark-grey-11: #9dacd1;
  --dark-grey-12: #cad8f9;
  --dark-medium-blue-1: #1b264e;
  --dark-medium-blue-2: #25356c;
  --dark-medium-blue-3: #273b76;
  --dark-medium-blue-4: #2d4893;
  --dark-medium-blue-5: #3459b9;
  --dark-medium-blue-6: #4276fc;
  --dark-medium-blue-7: #638eec;
  --dark-medium-blue-8: #8eb1f5;
  --dark-medium-blue-9: #b8d1f9;
  --dark-medium-blue-10: #e2ecfb;
  --dark-orange-1: #2f2834;
  --dark-orange-2: #45332e;
  --dark-orange-3: #593f2c;
  --dark-orange-4: #965915;
  --dark-orange-5: #b66c1a;
  --dark-orange-6: #eb8305;
  --dark-orange-7: #e1962f;
  --dark-orange-8: #f4b656;
  --dark-orange-9: #f8cd7e;
  --dark-orange-10: #fae0a6;
  --dark-pink-1: #2f2044;
  --dark-pink-2: #45234e;
  --dark-pink-3: #592959;
  --dark-pink-4: #792c67;
  --dark-pink-5: #a23079;
  --dark-pink-6: #eb389a;
  --dark-pink-7: #e15da5;
  --dark-pink-8: #f48abe;
  --dark-pink-9: #f8b4d3;
  --dark-pink-10: #fadce9;
  --dark-purple-1: #29214a;
  --dark-purple-2: #3d245d;
  --dark-purple-3: #502a6f;
  --dark-purple-4: #6a2e88;
  --dark-purple-5: #8d34a9;
  --dark-purple-6: #ca3de3;
  --dark-purple-7: #cc60de;
  --dark-purple-8: #e98ff2;
  --dark-purple-9: #f5baf9;
  --dark-purple-10: #fae4fb;
  --dark-red-1: #31213b;
  --dark-red-2: #4a253d;
  --dark-red-3: #5f2c41;
  --dark-red-4: #803043;
  --dark-red-5: #ad3746;
  --dark-red-6: #fc424b;
  --dark-red-7: #e86469;
  --dark-red-8: #f49090;
  --dark-red-9: #f8bbb9;
  --dark-red-10: #fae4e3;
  --dark-shadow-1: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --dark-shadow-2: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  --dark-shadow-3: 0 2px 6px 0 rgba(0, 0, 0, 0.6);
  --dark-tawny-1: #2f2c34;
  --dark-tawny-2: #473a2e;
  --dark-tawny-3: #5b492e;
  --dark-tawny-4: #7b5c26;
  --dark-tawny-5: #a5761c;
  --dark-tawny-6: #f0a30a;
  --dark-tawny-7: #e6b033;
  --dark-tawny-8: #f4ca5a;
  --dark-tawny-9: #f8dc83;
  --dark-tawny-10: #faebab;
  --dark-transparent-1: rgba(13, 166, 242, 0.1);
  --dark-transparent-2: rgba(18, 120, 179, 0.5);
  --dark-transparent-3: rgba(51, 179, 236, 0.5);
  --dark-transparent-4: rgba(13, 166, 242, 0.2);
  --dark-transparent-5: rgba(95, 112, 153, 0.5);
  --dark-violet-1: #1f244d;
  --dark-violet-2: #282c62;
  --dark-violet-3: #343574;
  --dark-violet-4: #403f90;
  --dark-violet-5: #514cb5;
  --dark-violet-6: #6e62f5;
  --dark-violet-7: #8f84ec;
  --dark-violet-8: #bab1f5;
  --dark-violet-9: #e0daf9;
  --dark-violet-10: #efecfb;
  --dark-yellow-1: #2f2f3a;
  --dark-yellow-2: #453f2e;
  --dark-yellow-3: #59512c;
  --dark-yellow-4: #796824;
  --dark-yellow-5: #a28719;
  --dark-yellow-6: #ebbd05;
  --dark-yellow-7: #e1c42f;
  --dark-yellow-8: #f4df56;
  --dark-yellow-9: #f8ec7e;
  --dark-yellow-10: #faf5a6;
  --light-blue-1: #e6f9ff;
  --light-blue-2: #ccf1ff;
  --light-blue-3: #8cddff;
  --light-blue-4: #63cbff;
  --light-blue-5: #3bb7ff;
  --light-blue-6: #119af5;
  --light-blue-7: #0477cf;
  --light-blue-8: #005aa8;
  --light-blue-9: #004182;
  --light-blue-10: #002b5c;
  --light-cyan-1: #e6fffc;
  --light-cyan-2: #a7f2ed;
  --light-cyan-3: #7ae6e2;
  --light-cyan-4: #50d9d9;
  --light-cyan-5: #2bc7cc;
  --light-cyan-6: #0ab4bf;
  --light-cyan-7: #008a99;
  --light-cyan-8: #006373;
  --light-cyan-9: #00404d;
  --light-cyan-10: #001f26;
  --light-grass-green-1: #fafce3;
  --light-grass-green-2: #e6f09e;
  --light-grass-green-3: #d2e371;
  --light-grass-green-4: #bcd649;
  --light-grass-green-5: #a6c924;
  --light-grass-green-6: #8dbd03;
  --light-grass-green-7: #6c9600;
  --light-grass-green-8: #4d7000;
  --light-grass-green-9: #304a00;
  --light-grass-green-10: #162400;
  --light-green-1: #e6fff2;
  --light-green-2: #bcfbdc;
  --light-green-3: #7aebb8;
  --light-green-4: #50dea3;
  --light-green-5: #2ad191;
  --light-green-6: #08c481;
  --light-green-7: #009e6c;
  --light-green-8: #007856;
  --light-green-9: #00523d;
  --light-green-10: #002b22;
  --light-grey-1: #edeff2;
  --light-grey-2: #ffffff;
  --light-grey-3: #ffffff;
  --light-grey-4: #ffffff;
  --light-grey-5: #f5f7fa;
  --light-grey-6: #edf1f7;
  --light-grey-7: #dbe2e7;
  --light-grey-8: #f3f7fa;
  --light-grey-9: #dcecfa;
  --light-grey-10: #abb2b6;
  --light-grey-11: #4a5155;
  --light-grey-12: #19242c;
  --light-medium-blue-1: #f0f7ff;
  --light-medium-blue-2: #e0edff;
  --light-medium-blue-3: #b8d3ff;
  --light-medium-blue-4: #8fb6ff;
  --light-medium-blue-5: #6696ff;
  --light-medium-blue-6: #3d73ff;
  --light-medium-blue-7: #2955d9;
  --light-medium-blue-8: #193ab3;
  --light-medium-blue-9: #0d248c;
  --light-medium-blue-10: #081666;
  --light-orange-1: #fff8e6;
  --light-orange-2: #ffe2a3;
  --light-orange-3: #ffd17a;
  --light-orange-4: #ffbd52;
  --light-orange-5: #faa228;
  --light-orange-6: #ee8300;
  --light-orange-7: #c76700;
  --light-orange-8: #a14e00;
  --light-orange-9: #7a3700;
  --light-orange-10: #542300;
  --light-pink-1: #fff0f6;
  --light-pink-2: #a7f2ed;
  --light-pink-3: #7ae6e2;
  --light-pink-4: #50d9d9;
  --light-pink-5: #2bc7cc;
  --light-pink-6: #0ab4bf;
  --light-pink-7: #008a99;
  --light-pink-8: #006373;
  --light-pink-9: #00404d;
  --light-pink-10: #001f26;
  --light-purple-1: #fff0ff;
  --light-purple-2: #ffe3ff;
  --light-purple-3: #fcbaff;
  --light-purple-4: #f691ff;
  --light-purple-5: #e263f2;
  --light-purple-6: #cb39e5;
  --light-purple-7: #a326bf;
  --light-purple-8: #7d1799;
  --light-purple-9: #590b73;
  --light-purple-10: #39074d;
  --light-red-1: #fff1f0;
  --light-red-2: #ffe3e0;
  --light-red-3: #ffbbb8;
  --light-red-4: #ff918f;
  --light-red-5: #ff6669;
  --light-red-6: #fe3c46;
  --light-red-7: #d92938;
  --light-red-8: #b3192b;
  --light-red-9: #8c0d20;
  --light-red-10: #660819;
  --light-shadow-1: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  --light-shadow-2: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --light-shadow-3: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  --light-tawny-1: #fffbe6;
  --light-tawny-2: #ffeea8;
  --light-tawny-3: #ffe180;
  --light-tawny-4: #ffd257;
  --light-tawny-5: #ffc02e;
  --light-tawny-6: #f2a204;
  --light-tawny-7: #cc8100;
  --light-tawny-8: #a66300;
  --light-tawny-9: #804800;
  --light-tawny-10: #593000;
  --light-transparent-1: rgba(17, 154, 245, 0.1);
  --light-transparent-2: rgba(59, 183, 255, 0.5);
  --light-transparent-3: rgba(4, 119, 207, 0.5);
  --light-transparent-4: rgba(17, 154, 245, 0.2);
  --light-transparent-5: rgba(171, 178, 182, 0.5);
  --light-violet-1: #f4f0ff;
  --light-violet-2: #ebe5ff;
  --light-violet-3: #d5ccff;
  --light-violet-4: #bcb0ff;
  --light-violet-5: #9587ff;
  --light-violet-6: #6a5cfa;
  --light-violet-7: #4b44d4;
  --light-violet-8: #312fad;
  --light-violet-9: #1e1f87;
  --light-violet-10: #141861;
  --light-yellow-1: #fffee6;
  --light-yellow-2: #fff9a3;
  --light-yellow-3: #fff27a;
  --light-yellow-4: #ffe852;
  --light-yellow-5: #fad728;
  --light-yellow-6: #ecbd00;
  --light-yellow-7: #c79800;
  --light-yellow-8: #a17600;
  --light-yellow-9: #7a5600;
  --light-yellow-10: #543800;
}
