:root {
  --line-height: 1.4;
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --shadow-none: none;
  --radius-0: 0;
  --font-size-0: 0;
  --s-0: 0px;
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-4p5: 18px;
  --s-5: 20px;
  --s-6: 24px;
  --s-6p5: 26px;
  --s-7: 28px;
  --s-7p5: 30px;
  --s-8: 32px;
  --s-8p5: 34px;
  --s-9: 36px;
  --s-10: 40px;
  --s-11: 44px;
  --s-12: 48px;
  --s-13: 52px;
  --s-14: 56px;
  --s-15: 60px;
  --s-16: 64px;
  --s-18: 72px;
  --s-20: 80px;
  --s-22: 88px;
  --s-24: 96px;
  --s-26: 104px;
  --s-28: 112px;
  --s-30: 120px;
  --s-32: 128px;
  --s-34: 136px;
  --s-36: 144px;
  --s-38: 152px;
  --s-40: 160px;
  --s-42: 168px;
  --s-44: 176px;
  --s-46: 184px;
  --s-48: 192px;
  --s-50: 200px;
  --s-52: 208px;
  --s-54: 216px;
  --s-58: 232px;
  --s-62: 248px;
  --s-66: 264px;
  --s-74: 296px;
  --s-82: 328px;
  --s-90: 360px;
  --s-94: 376px;
  --s-100: 400px;
  --s-110: 440px;
  --s-124: 496px;
  --s-126: 504px;
  --s-138: 552px;
  --s-158: 632px;
  --s-180: 720px;
  --s-224: 896px;
  --s-288: 1152px;
  --s-auto: auto;
  --s-percent-100: 100%;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --color-primary: #01acf3;
  --color-primary-1: #e6fcff;
  --color-primary-2: #a3f0ff;
  --color-primary-3: #7ae4ff;
  --color-primary-4: #52d7ff;
  --color-primary-5: #29c6ff;
  --color-primary-6: #0088cc;
  --color-primary-7: #0069a6;
  --color-primary-8: #004d80;
  --color-primary-9: #003359;
  --color-text-1: #333;
  --color-text-2: #666;
  --color-text-3: #999;
  --color-text-4: #bbb;
  --color-text-reverse: #fff;
  --custom-color-text-opacity-1: rgba(255, 255, 255, 0.8);
  --custom-color-text-opacity-2: rgba(255, 255, 255, 0.6);
  --custom-color-text-opacity-3: rgba(255, 255, 255, 0.5);
  --color-bg-1: #f2f2f2;
  --color-bg-2: #fff;
  --color-bg-3: #f0f0f0;
  --color-bg-4: #ddd;
  --color-bg-5: #e6edf3;
  --color-bg-reverse: #333;
  --color-bg-scrollbar-thrumb: rgba(144, 147, 153, 0.3);
  --color-bg-scrollbar-thrumb-hover: rgba(144, 147, 153, 0.5);
  --custom-color-bg-opacity-3: rgba(255, 255, 255, 0.09);
  --custom-color-bg-opacity-4: rgba(255, 255, 255, 0.07);
  --custom-color-bg-opacity-5: rgba(0, 0, 0, 0.3);
  --custom-color-bg-1: #f0f5f9;
  --custom-color-bg-2: #e6edf3;
  --color-line-1: #ddd;
  --color-line-2: #e8e8e8;
  --color-line-3: #ccc;
  --color-line-4: #e8e8e8;
  --color-success: #61b26c;
  --color-success-bg: rgba(97, 178, 108, 0.06);
  --color-success-line: rgba(97, 178, 108, 0.3);
  --color-info: #01acf3;
  --color-info-bg: rgba(1, 172, 243, 0.06);
  --color-info-line: rgba(1, 172, 243, 0.3);
  --color-warning: #f89e35;
  --color-warning-bg: rgba(248, 158, 53, 0.06);
  --color-warning-line: rgba(248, 158, 53, 0.3);
  --color-error: #f16464;
  --color-error-bg: rgba(241, 100, 100, 0.06);
  --color-error-line: rgba(241, 100, 100, 0.3);
  --color-link: #01acf3;
  --color-link-hover: #29c6ff;
  --color-link-active: #0088cc;
  --color-mask-bg-1: rgba(0, 0, 0, 0.6);
  --color-mask-bg-2: rgba(255, 255, 255, 0.9);
  --color-mask-bg-3: rgba(255, 255, 255, 0.35);
  --font-size: 14px;
  --font-size-s: 12px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-login-title: 40px;
  --shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  --shadow-sharp: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  --shadow-weak: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
  --radius: 4px;
  --radius-lg: 6px;
  --radius-sm: 2px;
  --height-base: var(--s-8);
  --height-base-lg: var(--s-10);
  --height-base-sm: var(--s-6);
  --layer-bg-color: var(--color-bg-2);
  --layer-outline-color: var(--color-line-2);
  --layer-shadow: var(--shadow);
  --layer-radius: var(--radius);
  --layer-line-color: var(--color-line-2);
  --page-header-font-size: var(--font-size);
  --page-header-item-gap: var(--s-3);
  --page-header-title-color: var(--color-text-1);
  --page-header-title-font-weight: var(--font-weight-normal);
  --page-header-back-text-color: var(--color-text-2);
  --page-header-item-gap-line-color: var(--color-line-1);
  --scroll-bar-bg: var(--color-transparent);
  --scrollbar-thrumb-bg: var(--color-bg-scrollbar-thrumb);
  --scrollbar-thrumb-bg-hover: var(--color-bg-scrollbar-thrumb-hover);
  --menu-item-height-hor: var(--s-12);
  --menu-item-padding-hor: var(--s-4);
  --menu-item-margin-hor: var(--s-0);
  --menu-item-text-size-hor: var(--font-size);
  --menu-item-icon-size-hor: var(--s-4);
  --menu-item-text-color-hor: var(--custom-color-text-opacity-1);
  --menu-item-text-icon-gap-hor: var(--s-1);
  --menu-pop-item-height: var(--s-9);
  --menu-pop-item-padding-hor: var(--s-3);
  --menu-pop-item-bg: var(--color-bg-2);
  --menu-pop-item-text-size: var(--font-size);
  --menu-pop-item-text-color: var(--color-text-2);
  --menu-item-bg-hor-hover: var(--custom-color-bg-opacity-4);
  --menu-item-text-color-hor-hover: var(--color-white);
  --menu-item-bg-hor-selected: var(--color-primary-6);
  --menu-item-text-color-hor-selected: var(--color-white);
  --menu-item-icon-color-hor-selected: var(--color-white);
  --menu-item-border-color-hor-selected: var(--color-primary-6);
  --menu-item-title-bg-hor-open: var(--color-transparent);
  --menu-item-title-text-color-hor-open: var(--custom-color-text-opacity-1);
  --menu-pop-item-bg-hover: var(--color-bg-1);
  --menu-pop-item-text-color-hover: var(--color-text-1);
  --menu-pop-item-bg-selected: var(--color-bg-1);
  --menu-pop-item-text-color-selected: var(--color-primary);
  --menu-item-height: var(--s-10);
  --menu-sub-item-height: var(--s-10);
  --menu-item-text-size: var(--font-size);
  --menu-item-icon-size: var(--s-5);
  --menu-sub-item-text-size: var(--font-size);
  --menu-item-text-color: var(--custom-color-text-opacity-3);
  --menu-sub-item-text-color: var(--custom-color-text-opacity-3);
  --menu-item-text-icon-gap: var(--s-3);
  --menu-item-bg-hover: var(--custom-color-bg-opacity-3);
  --menu-item-text-color-hover: var(--custom-color-text-opacity-1);
  --menu-sub-item-bg-hover: var(--custom-color-bg-opacity-3);
  --menu-sub-item-text-color-hover: var(--custom-color-text-opacity-1);
  --menu-item-bg-selected: var(--custom-color-bg-opacity-4);
  --menu-item-text-color-selected: var(--color-white);
  --menu-item-border-color-selected: var(--color-primary);
  --menu-item-icon-color-selected: var(--color-primary-4);
  --menu-item-title-bg-selected: var(--color-transparent);
  --menu-item-title-text-color-selected: var(--color-white);
  --menu-sub-item-bg-selected: var(--custom-color-bg-opacity-4);
  --menu-sub-item-text-color-selected: var(--color-text-1);
  --menu-item-title-bg-open: var(--color-transparent);
  --menu-item-title-text-color-open: var(--custom-color-text-opacity-1);
  --btn-padding-hor: var(--s-3);
  --btn-padding-hor-lg: var(--s-4);
  --btn-padding-hor-sm: var(--s-2);
  --btn-icon-text-gap: var(--s-1);
  --btn-icon-text-gap-lg: var(--s-2);
  --btn-icon-text-gap-sm: var(--s-1);
  --btn-font-size: var(--font-size);
  --btn-font-size-lg: var(--font-size-l);
  --btn-font-size-sm: var(--font-size-s);
  --btn-bg: var(--color-transparent);
  --btn-text-color: var(--color-text-1);
  --btn-border-color: var(--color-line-1);
  --btn-shadow: var(--shadow-none);
  --btn-bg-hover: var(--color-bg-1);
  --btn-text-color-hover: var(--color-text-1);
  --btn-border-color-hover: var(--color-line-1);
  --btn-shadow-hover: var(--shadow-none);
  --btn-bg-active: var(--color-bg-1);
  --btn-text-color-active: var(--color-text-1);
  --btn-border-color-active: var(--color-line-3);
  --btn-shadow-active: var(--shadow-none);
  --btn-surface-primary-bg: var(--color-primary);
  --btn-surface-primary-text-color: var(--color-white);
  --btn-surface-shadow: var(--shadow-none);
  --btn-surface-primary-bg-hover: var(--color-primary-5);
  --btn-surface-primary-text-color-hover: var(--color-white);
  --btn-surface-shadow-hover: var(--shadow-none);
  --btn-surface-primary-bg-active: var(--color-primary-6);
  --btn-surface-primary-text-color-active: var(--color-white);
  --btn-surface-shadow-active: var(--shadow-none);
  --btn-line-text-color: var(--color-text-1);
  --btn-line-border-color: var(--color-line-1);
  --btn-line-shadow: var(--shadow-none);
  --btn-line-text-color-hover: var(--color-primary);
  --btn-line-border-color-hover: var(--color-primary);
  --btn-line-shadow-hover: var(--shadow-none);
  --btn-line-text-color-active: var(--color-primary-6);
  --btn-line-border-color-active: var(--color-primary-6);
  --btn-line-shadow-active: var(--shadow-none);
  --btn-bg-disabled: var(--color-bg-3);
  --btn-text-color-disabled: var(--color-text-4);
  --btn-line-color-disabled: var(--color-line-4);
  --input-padding-hor: var(--s-3);
  --input-padding-hor-lg: var(--s-4);
  --input-padding-hor-sm: var(--s-2);
  --input-font-size: var(--font-size);
  --input-font-size-lg: var(--font-size-l);
  --input-font-size-sm: var(--font-size-s);
  --input-icon-gap: var(--s-3);
  --input-bg: var(--color-bg-2);
  --input-text-color: var(--color-text-1);
  --input-border-color: var(--color-line-1);
  --input-shadow: var(--shadow-none);
  --input-text-placeholder-color: var(--color-text-3);
  --input-group-affix-padding-hor: var(--s-4);
  --input-group-affix-bg: var(--color-bg-3);
  --input-group-affix-text-color: var(--color-text-1);
  --input-bg-hover: var(--color-bg-2);
  --input-border-color-hover: var(--color-line-3);
  --input-shadow-hover: var(--shadow-none);
  --input-bg-focus: var(--color-bg-2);
  --input-border-color-focus: var(--color-primary);
  --input-shadow-focus: var(--shadow-none);
  --input-bg-disabled: var(--color-bg-3);
  --input-text-color-disabled: var(--color-text-1);
  --input-border-color-disabled: var(--color-line-1);
  --input-number-btn-bg: var(--color-bg-1);
  --input-number-width: var(--s-26);
  --input-number-width-lg: var(--s-30);
  --input-number-width-sm: var(--s-22);
  --rc-label-gap: var(--s-2);
  --rc-gap: var(--s-7);
  --rc-size: var(--s-4);
  --rc-size-lg: var(--s-4);
  --rc-size-sm: var(--s-3);
  --radio-bg: var(--color-bg-2);
  --radio-border-color: var(--color-line-1);
  --radio-border-color-hover: var(--color-primary);
  --radio-bg-checked: var(--color-bg-2);
  --radio-icon-checked: var(--color-primary);
  --radio-border-color-checked: var(--color-primary);
  --radio-bg-disabled: var(--color-bg-3);
  --radio-icon-disabled: var(--color-text-4);
  --radio-border-color-disabled: var(--color-line-4);
  --radio-label-color-disabled: var(--color-text-4);
  --checkbox-bg: var(--custom-color-bg-6);
  --checkbox-border-color: var(--color-line-1);
  --checkbox-border-color-hover: var(--color-primary);
  --checkbox-bg-checked: var(--color-primary);
  --checkbox-icon-checked: var(--color-bg-2);
  --checkbox-border-color-checked: var(--color-primary);
  --checkbox-bg-disabled: var(--color-bg-3);
  --checkbox-icon-disabled: var(--color-text-4);
  --checkbox-border-color-disabled: var(--color-line-4);
  --checkbox-label-color-disabled: var(--color-text-4);
  --rc-button-bg: var(--color-transparent);
  --rc-button-text-color: var(--color-text-2);
  --rc-button-border-color: var(--color-line-1);
  --rc-button-bg-hover: var(--color-transparent);
  --rc-button-text-color-hover: var(--color-primary);
  --rc-button-bg-checked: var(--color-primary);
  --rc-button-text-color-checked: var(--color-white);
  --rc-button-border-color-checked: var(--color-primary);
  --rc-button-border-inner-color-checked: var(--color-primary-5);
  --rc-button-bg-disabled: var(--color-bg-3);
  --rc-button-text-color-disabled: var(--color-text-4);
  --rc-button-bg-checked-disabled: var(--color-primary-1);
  --rc-bordered-border-color: var(--color-line-1);
  --rc-bordered-border-color-checked: var(--color-primary);
  --rc-bordered-border-color-disabled: var(--color-line-4);
  --select-item-height: var(--s-8);
  --select-item-height-lg: var(--s-10);
  --select-item-height-sm: var(--s-8);
  --select-item-padding-hor: var(--s-3);
  --select-item-padding-hor-lg: var(--s-4);
  --select-item-padding-hor-sm: var(--s-2);
  --select-item-font-size: var(--font-size);
  --select-group-title-size: var(--font-size-s);
  --cascader-item-padding-hor: var(--s-3);
  --cascader-item-label-padding-hor: var(--s-4);
  --cascader-border-color: var(--color-line-2);
  --cascader-border-radius: var(--radius);
  --select-group-title-color: var(--color-text-3);
  --select-dropdown-empty-text-color: var(--color-text-2);
  --select-item-text-color: var(--color-text-2);
  --select-item-bg-hover: var(--color-bg-5);
  --select-item-text-color-hover: var(--color-primary);
  --select-item-bg-selected: var(--color-transparent);
  --select-item-text-color-selected: var(--color-primary);
  --select-item-font-weight-selected: var(--font-weight-normal);
  --select-item-bg-disabled: var(--color-transparent);
  --select-item-text-color-disabled: var(--color-text-4);
  --select-tag-item-bg: var(--color-bg-3);
  --select-tag-item-text-color: var(--color-text-1);
  --select-tag-item-border-color: var(--color-line-2);
  --upload-list-item-width: var(--s-auto);
  --upload-list-item-name-text-color: var(--color-text-2);
  --upload-list-item-close-color: var(--color-text-2);
  --upload-list-item-bg-hover: var(--color-bg-1);
  --upload-list-item-name-text-color-hover: var(--color-text-1);
  --upload-list-item-close-color-hover: var(--color-error);
  --upload-card-size: var(--s-26);
  --upload-card-icon-size: var(--s-7);
  --upload-card-gap: var(--s-2);
  --upload-card-bg: var(--color-bg-3);
  --upload-card-border-color: var(--color-line-3);
  --upload-card-border-color-hover: var(--color-primary);
  --upload-card-icon-color: var(--color-text-3);
  --upload-card-icon-color-hover: var(--color-primary);
  --upload-picture-height: var(--s-20);
  --upload-picture-padding: var(--s-2);
  --upload-picture-gap: var(--s-2);
  --upload-picture-bg: var(--color-transparent);
  --upload-picture-border-color: var(--color-line-1);
  --upload-dragger-width: var(--s-82);
  --upload-dragger-height: var(--s-36);
  --upload-dragger-icon-size: var(--s-14);
  --upload-dragger-font-size: var(--font-size);
  --upload-dragger-icon-text-gap: var(--s-1);
  --upload-dragger-bg: var(--color-transparent);
  --upload-dragger-border-color: var(--color-line-3);
  --upload-dragger-icon-color: var(--color-primary);
  --upload-dragger-text-color: var(--color-text-3);
  --upload-dragger-border-color-hover: var(--color-primary);
  --picker-panel-padding: var(--s-3);
  --picker-panel-text-color: var(--color-text-1);
  --picker-panel-icon-btn-text-color: var(--color-text-1);
  --picker-panel-footer-bg: var(--color-transparent);
  --datetime-input-width: var(--s-62);
  --datetime-range-input-width: var(--s-94);
  --date-panel-single-width: var(--s-66);
  --date-panel-sidebar-width: var(--s-24);
  --date-picker-header-height: var(--s-11);
  --date-picker-header-bg: var(--color-transparent);
  --date-picker-header-text-color: var(--color-text-1);
  --date-picker-link-bg-hover: var(--color-transparent);
  --date-picker-link-text-color-hover: var(--color-primary);
  --date-table-font-size: var(--font-size-s);
  --date-week-height: var(--s-8);
  --date-week-text-color: var(--color-text-2);
  --date-item-td-height: var(--s-7);
  --date-item-size: var(--s-6);
  --month-item-td-padding-ver: var(--s-2);
  --month-item-height: var(--s-7);
  --year-item-td-padding-ver: var(--s-2);
  --year-item-height: var(--s-7);
  --picker-item-radius: var(--radius);
  --picker-item-text-color: var(--color-text-2);
  --picker-item-bg-hover: var(--color-primary);
  --picker-item-text-color-hover: var(--color-text-1);
  --picker-item-bg-selected: var(--color-primary);
  --picker-item-text-color-selected: var(--color-white);
  --picker-item-bg-today: var(--color-transparent);
  --picker-item-text-color-today: var(--color-primary);
  --picker-item-bg-range: var(--color-bg-5);
  --picker-item-text-color-range: var(--color-text-1);
  --picker-item-bg-end: var(--color-primary);
  --picker-item-text-color-end: var(--color-white);
  --picker-item-bg-preNext: var(--color-tranparent);
  --picker-item-text-color-preNext: var(--color-text-2);
  --picker-item-bg-disabled: var(--color-bg-3);
  --picker-item-text-color-disabled: var(--color-text-4);
  --time-panel-width: var(--s-44);
  --time-panel-footer-height: var(--s-9);
  --time-dropdown-item-height: var(--s-9);
  --time-item-font-size: var(--font-size-s);
  --time-spinner-item-bg-selected: var(--color-primary);
  --time-spinner-item-text-color-selected: var(--color-text-1);
  --slider-runway-height: var(--s-1);
  --slider-runway-bg: var(--color-bg-4);
  --slider-bar-bg: var(--color-primary);
  --slider-stop-bg: var(--color-bg-2);
  --slider-bar-bg-disabled: var(--color-primary-2);
  --slider-button-size: var(--s-2);
  --slider-button-bg: var(--color-bg-2);
  --slider-button-border-color: var(--color-primary);
  --slider-button-bg-disabled: var(--color-bg-2);
  --slider-button-border-color-disabled: var(--color-line-4);
  --slider-tooltip-padding: var(--s-2);
  --slider-tooltip-color-bg: var(--color-bg-reverse);
  --slider-tooltip-text-color: var(--color-text-reverse);
  --slider-tooltip-border-color: var(--color-bg-reverse);
  --picker-color-trigger-border-color: var(--color-line-1);
  --picker-color-trigger-icon-color: var(--color-white);
  --picker-color-trigger-empty-icon-color: var(--color-text-2);
  --transfer-panel-bg: var(--color-bg-2);
  --transfer-panel-border-color: var(--color-line-1);
  --transfer-padding-hor: var(--s-3);
  --transfer-header-height: var(--s-9);
  --transfer-header-bg: var(--color-bg-3);
  --transfer-header-bottom-color: var(--color-line-2);
  --transfer-header-title-font-size: var(--font-size);
  --transfer-header-title-weight: var(--font-weight-normal);
  --transfer-header-title-color: var(--color-text-1);
  --transfer-header-des-color: var(--color-text-3);
  --transfer-panel-item-height: var(--s-8);
  --transfer-panel-item-font-size: var(--font-sze);
  --switch-height: var(--s-6);
  --switch-bg: var(--color-bg-4);
  --switch-border-color: var(--color-transparent);
  --switch-circle-bg: var(--color-white);
  --switch-bg-checked: var(--color-primary);
  --switch-border-color-checked: var(--color-primary);
  --switch-circle-bg-checked: var(--color-white);
  --form-block-item-gap: var(--s-5);
  --form-label-padding-right: var(--s-3);
  --form-label-text-color: var(--color-text-1);
  --form-inline-item-gap: var(--s-3);
  --form-inline-label-padding-right: var(--s-3);
  --table-thead-padding-ver: 9px;
  --table-thead-font-size: var(--font-size);
  --table-thead-line-height: var(--s-5);
  --table-thead-bg: var(--color-bg-2);
  --table-thead-text-color: var(--color-text-1);
  --table-thead-border-color: var(--color-line-1);
  --table-bg: var(--color-bg-2);
  --table-font-size: var(--font-size);
  --table-cell-line-height: var(--s-5);
  --table-cell-padding-hor: var(--s-2);
  --table-colomn-resize-line-color: var(--color-line-1);
  --table-td-padding-ver: var(--s-3);
  --table-tbody-text-color: var(--color-text-1);
  --table-fixed-shadow: var(--shadow);
  --table-row-bg-hover: var(--color-bg-3);
  --table-row-bg-selected: var(--color-primary-1);
  --table-footer-bg: var(--color-bg-3);
  --table-footer-text-color: var(--color-text-2);
  --table-border-color: var(--color-line-1);
  --table-td-border-hor-color: var(--color-line-1);
  --table-td-border-ver-color: var(--color-transparent);
  --table-striped-td-border-hor-color: var(--color-transparent);
  --table-striped-row-even-bg: var(--color-bg-2);
  --table-striped-row-odd-bg: var(--custom-color-bg-1);
  --table-empty-text-color: var(--color-text-3);
  --page-font-size: var(--font-size);
  --page-number-font-size: var(--font-size-s);
  --page-text-color: var(--color-text-2);
  --page-item-height: var(--s-8);
  --page-item-height-sm: var(--s-6);
  --page-item-border-radius: var(--radius);
  --page-number-margin-hor: var(--s-1);
  --page-number-bg: var(--color-transparent);
  --page-number-text-color: var(--color-text-2);
  --page-number-border-color: var(--color-line-1);
  --page-number-bg-hover: var(--color-transparent);
  --page-number-text-color-hover: var(--color-primary);
  --page-number-border-color-hover: var(--color-primary);
  --page-number-bg-active: var(--color-primary-6);
  --page-number-text-color-active: var(--color-white);
  --page-number-border-color-active: var(--color-primary-6);
  --page-number-bg-selected: var(--color-primary);
  --page-number-text-color-selected: var(--color-white);
  --page-number-border-color-selected: var(--color-primary);
  --page-number-sm-border-color-selected: var(--color-primary);
  --page-number-bg-disabled: var(--color-bg-3);
  --page-number-text-color-disabled: var(--color-text-4);
  --page-number-border-color-disabled: var(--color-line-4);
  --page-item-edge-margin-hor: var(--s-1);
  --page-btn-bg: var(--color-transparent);
  --page-btn-text-color: var(--color-text-1);
  --page-btn-border-color: var(--color-line-1);
  --page-btn-bg-hover: var(--color-transparent);
  --page-btn-text-color-hover: var(--color-primary);
  --page-btn-border-color-hover: var(--color-primary);
  --page-btn-bg-active: var(--color-transparent);
  --page-btn-text-color-active: var(--color-primary-6);
  --page-btn-border-color-active: var(--color-primary-6);
  --page-btn-bg-disabled: var(--color-bg-3);
  --page-btn-text-color-disabled: var(--color-text-4);
  --page-btn-border-color-disabled: var(--color-line-4);
  --tag-item-font-size: var(--font-size-s);
  --tag-item-height: var(--s-8);
  --tag-item-height-sm: var(--s-6);
  --tag-item-padding-hor: var(--s-2);
  --tag-item-border-radius: var(--radius);
  --tag-item-border-radius-sm: var(--radius-sm);
  --tag-icon-close-size: var(--s-4);
  --tag-item-bg: var(--color-info-bg);
  --tag-item-text-color: var(--color-info);
  --tag-item-border-color: var(--color-info-line);
  --tag-icon-close-bg-hover: var(--color-primary);
  --tag-icon-close-color-hover: var(--color-white);
  --tag-item-bg-success: var(--color-success-bg);
  --tag-item-text-color-success: var(--color-success);
  --tag-item-border-color-success: var(--color-success-line);
  --tag-icon-close-bg-hover-success: var(--color-success);
  --tag-icon-close-color-hover-success: var(--color-white);
  --tag-item-bg-info: var(--color-bg-3);
  --tag-item-text-color-info: var(--color-text-2);
  --tag-item-border-color-info: var(--color-line-2);
  --tag-icon-close-bg-hover-info: var(--color-text-3);
  --tag-icon-close-color-hover-info: var(--color-white);
  --tag-item-bg-warning: var(--color-warning-bg);
  --tag-item-text-color-warning: var(--color-warning);
  --tag-item-border-color-warning: var(--color-warning-line);
  --tag-icon-close-bg-hover-warning: var(--color-warning);
  --tag-icon-close-color-hover-warning: var(--color-white);
  --tag-item-bg-danger: var(--color-error-bg);
  --tag-item-text-color-danger: var(--color-error);
  --tag-item-border-color-danger: var(--color-error-line);
  --tag-icon-close-bg-hover-danger: var(--color-error);
  --tag-icon-close-color-hover-danger: var(--color-white);
  --tree-font-size: var(--font-size);
  --tree-node-height: var(--s-7);
  --tree-text-color: var(--color-text-1);
  --tree-node-expand-icon-color: var(--color-text-1);
  --tree-node-icon-text-gap: var(--s-2);
  --tree-node-bg-hover: var(--color-bg-5);
  --tree-node-bg-focus: var(--color-bg-5);
  --tree-node-bg-highlight-current: var(--color-bg-3);
  --tree-empty-font-size: var(--font-size);
  --tree-empty-text-color: var(--color-text-2);
  --badge-height: var(--s-5);
  --badge-padding-hor: var(--s-1);
  --badge-font-size: var(--font-size-s);
  --badge-dot-size: var(--s-2);
  --badge-bg: var(--color-error);
  --badge-text-color: var(--color-white);
  --badge-border-color: var(--color-transparent);
  --el-avatar-bg: var(--color-bg-4);
  --loading-icon-size: var(--s-10);
  --loading-font-size: var(--font-size);
  --loading-icon-color: var(--color-primary);
  --loading-text-color: var(--color-text-3);
  --progress-bar-outer-bg: var(--color-bg-4);
  --progress-text-color: var(--color-text-2);
  --progress-text-inner-color: var(--color-white);
  --message-min-width: var(--s-44);
  --message-padding-ver: var(--s-3);
  --message-padding-hor: var(--s-5);
  --message-radius: var(--radius);
  --message-box-shadow: var(--shadow);
  --message-font-size: var(--font-size);
  --message-text-color: var(--color-text-1);
  --message-line-height: var(--s-4);
  --message-icon-size: var(--s-4);
  --message-icon-text-gap: var(--s-2);
  --message-close-btn-size: var(--s-3);
  --message-close-btn-color: var(--color-text-4);
  --message-close-btn-color-hover: var(--color-text-3);
  --message-bg-info: var(--color-bg-2);
  --message-icon-color-info: var(--color-primary);
  --message-border-color-info: var(--color-transparent);
  --message-bg-success: var(--color-bg-2);
  --message-icon-color-success: var(--color-success);
  --message-border-color-success: var(--color-transparent);
  --message-bg-warning: var(--color-bg-2);
  --message-icon-color-warning: var(--color-warning);
  --message-border-color-warning: var(--color-transparent);
  --message-bg-error: var(--color-bg-2);
  --message-icon-color-error: var(--color-error);
  --message-border-color-error: var(--color-transparent);
  --alert-padding-ver: var(--s-2);
  --alert-padding-hor: var(--s-3);
  --alert-radius: var(--radius);
  --alert-font-size: var(--font-size-s);
  --alert-des-font-size: var(--font-size-s);
  --alert-text-color: var(--color-text-1);
  --alert-icon-size: var(--s-4);
  --alert-icon-text-gap: var(--s-2);
  --alert-close-btn-size: var(--s-3);
  --alert-close-btn-color: var(--color-text-4);
  --alert-close-btn-color-hover: var(--color-text-3);
  --alert-bg-info: var(--color-info-bg);
  --alert-icon-color-info: var(--color-primary);
  --alert-border-color-info: var(--color-info-line);
  --alert-bg-success: var(--color-success-bg);
  --alert-icon-color-success: var(--color-success);
  --alert-border-color-success: var(--color-success-line);
  --alert-bg-warning: var(--color-warning-bg);
  --alert-icon-color-warning: var(--color-warning);
  --alert-border-color-warning: var(--color-warning-line);
  --alert-bg-error: var(--color-error-bg);
  --alert-icon-color-error: var(--color-error);
  --alert-border-color-error: var(--color-error-line);
  --modal-radius: var(--radius);
  --modal-shadow: var(--shadow);
  --modal-padding-hor: var(--s-4);
  --modal-bg-color: var(--color-bg-2);
  --modal-line-color: var(--color-line-1);
  --modal-header-height: var(--s-10);
  --modal-header-line-color: var(--color-line-1);
  --modal-title-font-size: var(--font-size);
  --modal-title-color: var(--color-text-1);
  --modal-title-font-weight: var(--font-weight-normal);
  --modal-header-close-icon-size: var(--s-4);
  --modal-header-close-icon-color: var(--color-text-1);
  --modal-header-close-icon-color-hover: var(--color-primary);
  --modal-footer-padding-ver: var(--s-5);
  --message-box-min-height: var(--s-11);
  --modal-header-bg: var(--color-transparent);
  --popover-padding: var(--s-4);
  --popover-font-size: var(--font-size);
  --popover-text-color: var(--color-text-1);
  --popover-title-font-size: var(--font-size);
  --popover-title-color: var(--color-text-2);
  --popover-title-margin-bottom: var(--s-2);
  --popconfirm-main-margin-top: var(--s-0);
  --popconfirm-main-margin-bottom: var(--s-3);
  --notification-padding-ver: var(--s-3);
  --notification-padding-hor: var(--s-4);
  --notification-title-font-size: var(--font-size);
  --notification-title-color: var(--color-text-1);
  --tooltip-padding: var(--s-2);
  --tooltip-radius: var(--radius);
  --tooltip-box-shadow: var(--shadow-none);
  --tooltip-font-size: var(--font-size-s);
  --tooltip-bg-dark: var(--color-bg-reverse);
  --tooltip-text-color-dark: var(--color-text-reverse);
  --tooltip-border-color-dark: var(--color-bg-reverse);
  --tooltip-bg-light: var(--color-bg-2);
  --tooltip-text-color-light: var(--color-text-1);
  --tooltip-border-color-light: var(--color-line-1);
  --breadcrumb-font-size: var(--font-size);
  --breadcrumb-item-text-color: var(--color-text-2);
  --breadcrumb-item-text-color-current: var(--color-text-1);
  --breadcrumb-item-text-color-link: var(--color-text-2);
  --breadcrumb-separator-color: var(--color-text-3);
  --breadcrumb-item-font-weight-current: var(--font-weight-normal);
  --tab-nav-line-color: var(--color-line-1);
  --tab-nav-item-height: var(--s-10);
  --tab-nav-item-padding-hor: var(--s-5);
  --tab-nav-item-font-size: var(--font-size);
  --tab-nav-item-text-color: var(--color-text-1);
  --tab-nav-item-text-color-hover: var(--color-primary);
  --tab-nav-item-text-color-selected: var(--color-primary);
  --tab-nav-item-line-color-selected: var(--color-primary);
  --tab-card-nav-bg: var(--color-bg-3);
  --tab-card-nav-line-color: var(--color-bg-2);
  --tab-card-nav-item-height: var(--s-10);
  --tab-card-nav-item-padding-hor: var(--s-5);
  --tab-card-nav-item-bg-selected: var(--color-bg-2);
  --tab-card-nav-item-text-color-selected: var(--color-primary);
  --tab-card-nav-item-border-color-selected: var(--color-primary);
  --tab-border-card-bg: var(--color-bg-2);
  --tab-border-card-border-color: var(--color-line-1);
  --tab-border-card-radius: var(--radius);
  --tab-border-card-shadow: var(--shadow-weak);
  --tab-border-card-nav-bg: var(--color-bg-3);
  --tab-border-card-nav-item-height: var(--s-10);
  --tab-border-card-nav-item-padding-hor: var(--s-5);
  --tab-nav-ver-item-height: var(--s-10);
  --tab-new-button-size: var(--s-4);
  --tab-new-button-icon-size: var(--font-size-s);
  --tab-new-button-border-color: var(--color-line-1);
  --tab-new-button-icon-color: var(--color-text-3);
  --tab-new-button-border-color-hover: var(--color-link-hover);
  --tab-new-button-icon-color-hover: var(--color-link);
  --dropdown-menu-padding-ver: var(--s-2);
  --dropdown-item-height: var(--s-9);
  --dropdown-item-height-lg: var(--s-10);
  --dropdown-item-height-sm: var(--s-8);
  --dropdown-item-padding-hor: var(--s-4);
  --dropdown-item-padding-hor-lg: var(--s-5);
  --dropdown-item-padding-hor-sm: var(--s-3);
  --dropdown-item-font-size: var(--font-size);
  --dropdown-item-text-color: var(--color-text-2);
  --dropdown-item-bg-hover: var(--color-bg-5);
  --dropdown-item-text-color-hover: var(--color-primary);
  --dropdown-item-bg-selected: var(--color-transparent);
  --dropdown-item-text-color-selected: var(--color-primary);
  --step-icon-bg: var(--color-bg-2);
  --step-circle-size: var(--s-7);
  --step-title-font-size: var(--font-size);
  --step-title-line-height: var(--s-9);
  --step-line-color: var(--color-bg-4);
  --step-icon-size: var(--s-6);
  --step-simple-padding-ver: var(--s-3);
  --step-simple-bg: var(--color-bg-5);
  --step-simple-border-color: var(--color-line-2);
  --step-simple-border-radius: var(--radius);
  --step-simple-arrow-color: var(--color-text-3);
  --step-color-wait: var(--color-text-4);
  --step-color-process: var(--color-text-1);
  --step-color-finish: var(--color-success);
  --step-color-success: var(--color-success);
  --step-color-error: var(--color-error);
  --timeline-item-padding-bottom: var(--s-6);
  --timeline-path-color: var(--color-bg-4);
  --card-bg: var(--color-bg-2);
  --card-radius: var(--radius);
  --card-shadow: var(--shadow);
  --card-border-color: var(--color-line-2);
  --card-text-color: var(--color-text-1);
  --card-padding-hor: var(--s-4);
  --card-header-padding-ver: var(--s-3);
  --card-header-border-color: var(--color-line-1);
  --collapse-bg: var(--color-transparent);
  --collapse-padding-hor: var(--s-0);
  --collapse-line-color: var(--color-line-1);
  --collapse-header-height: var(--s-10);
  --collapse-header-bg: var(--color-transparent);
  --collapse-header-font-size: var(--font-size);
  --collapse-header-text-color: var(--color-text-1);
  --calendar-bg: var(--color-transparent);
  --calendar-padding-hor: var(--s-4);
  --calendar-line-color: var(--color-line-2);
  --calendar-header-height: var(--s-12);
  --calendar-title-font-size: var(--font-size);
  --calendar-title-color: var(--color-text-1);
  --calendar-week-text-color: var(--color-text-2);
  --calendar-day-height: var(--s-16);
  --calendar-day-text-color: var(--color-text-1);
  --calendar-day-text-color-pre-next: var(--color-text-3);
  --calendar-day-bg-hover: var(--color-bg-5);
  --calendar-day-text-color-today: var(--color-primary);
  --calendar-day-bg-selected: var(--custom-color-bg-1);
  --calendar-day-text-color-selected: var(--color-primary);
  --backtop-size: var(--s-10);
  --backtop-bg: var(--color-bg-2);
  --backtop-shadow: var(--shadow);
  --backtop-text-color: var(--color-primary);
  --backtop-bg-hover: var(--color-bg-5);
  --backtop-text-color-hover: var(--color-primary);
  --drawer-header-height: 54px;
  --drawer-header-padding-hor: var(--s-4);
  --drawer-header-font-size: var(--font-size-l);
  --drawer-header-bg: var(--color-transparent);
  --drawer-header-text-color: var(--color-text-1);
  --divider-line-color: var(--color-line-3);
  --divider-text-color: var(--color-text-2);
  --divider-font-size: var(--font-size);
  --divider-text-padding-hor: var(--size-6);
  --divider-font-weight: var(--font-weight-normal);
  --divider-side-text-pos: var(--s-6);
}
