@font-face {
  font-family: "iconfont"; /* Project id 3426293 */
  src: url('iconfont.woff2?t=1655905158478') format('woff2'),
       url('iconfont.woff?t=1655905158478') format('woff'),
       url('iconfont.ttf?t=1655905158478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia-fangkuang:before {
  content: "\e790";
}

.icon-shanchu-fangkuang:before {
  content: "\e791";
}

.icon-chaifen:before {
  content: "\ee21";
}

.icon-zuhe:before {
  content: "\e62b";
}

.icon-full_screen:before {
  content: "\e673";
}

.icon-quanping:before {
  content: "\e6f5";
}

.icon-pinleijianshao_o:before {
  content: "\eb7e";
}

.icon-pinleizengjia_o:before {
  content: "\eb7f";
}

.icon-youshangjiao:before {
  content: "\e7ae";
}

.icon-youxiajiao:before {
  content: "\e7b1";
}

.icon-zuoxiajiao:before {
  content: "\e7b2";
}

.icon-zuoshangjiao:before {
  content: "\e7b3";
}

.icon-yebianju:before {
  content: "\e618";
}

.icon-xiabiankuang:before {
  content: "\e626";
}

.icon-shangbiankuang:before {
  content: "\e628";
}

.icon-zuobiankuang:before {
  content: "\e629";
}

.icon-youbiankuang:before {
  content: "\e62a";
}

.icon-zhidi:before {
  content: "\e6d4";
}

.icon-zhiding:before {
  content: "\e61c";
}

.icon-auto:before {
  content: "\e60a";
}

.icon-shejiao-xianshiqi:before {
  content: "\e623";
}

.icon-shezhi:before {
  content: "\e608";
}

.icon-liujisuan:before {
  content: "\ec56";
}

.icon-zujian:before {
  content: "\e653";
}

.icon-zujianhua:before {
  content: "\e604";
}

.icon-xiazai-wenjianxiazai-12:before {
  content: "\e856";
}

.icon-copy:before {
  content: "\e706";
}

.icon-examples:before {
  content: "\e627";
}

.icon-kanbanguanli:before {
  content: "\e633";
}

.icon-shanchu:before {
  content: "\eaf9";
}

.icon-bianji:before {
  content: "\eaed";
}

.icon-weiyi:before {
  content: "\eafe";
}

.icon-shujuzichanshuru:before {
  content: "\eb0d";
}

.icon-shangchuanwenjian:before {
  content: "\eb0e";
}

.icon-tianjia1:before {
  content: "\eb41";
}

.icon-shoucang:before {
  content: "\eb4f";
}

.icon-shoucang-weidianji:before {
  content: "\eb50";
}

.icon-shujuzichan:before {
  content: "\eb5e";
}

.icon-liebiao:before {
  content: "\eb65";
}

.icon-zerenren:before {
  content: "\eb73";
}

.icon-lieshezhi:before {
  content: "\ebc4";
}

.icon-quanbuchanpin:before {
  content: "\ebe1";
}

.icon-suoding:before {
  content: "\e60d";
}

.icon-jiesuo:before {
  content: "\e60e";
}

.icon-gengduo2:before {
  content: "\ebf0";
}

.icon-shiti:before {
  content: "\ec3e";
}

.icon-xinjian:before {
  content: "\ec66";
}

.icon-zhengli:before {
  content: "\e60f";
}

.icon-xiangshangduiqi:before {
  content: "\e610";
}

.icon-youduiqi:before {
  content: "\e611";
}

.icon-juzhongduiqi:before {
  content: "\e613";
}

.icon-zuoduiqi:before {
  content: "\e614";
}

.icon-daoxu:before {
  content: "\ec7b";
}

.icon-zhengxu:before {
  content: "\ec81";
}

.icon-chehui:before {
  content: "\ec88";
}

.icon-fanhui1:before {
  content: "\ec93";
}

.icon-MoveUp:before {
  content: "\e631";
}

.icon-MoveDown:before {
  content: "\e632";
}

.icon-Move:before {
  content: "\ecb2";
}

.icon-Whale:before {
  content: "\e648";
}

.icon-Card:before {
  content: "\e651";
}

.icon-CreateTask:before {
  content: "\e652";
}

.icon-yulan:before {
  content: "\e6f1";
}

.icon-baocun:before {
  content: "\eaec";
}

.icon-fabu:before {
  content: "\eaef";
}

.icon-yingshezujian:before {
  content: "\ebfe";
}

.icon-shuju:before {
  content: "\e61b";
}

.icon-qianjin-shi:before {
  content: "\e654";
}

.icon-houtui-shi:before {
  content: "\e656";
}

.icon-24gf-chartPie:before {
  content: "\e849";
}

